In [1]:
import numpy as np

import pandas as pd

from pandas import Series,DataFrame

In [3]:
s = Series(np.random.randint(0,150,size = 100),index = np.arange(10,110),dtype=np.int16,name = 'Python')
s

10      34
11     111
12     113
13     103
14     147
15      63
16      11
17     130
18      38
19      17
20      32
21     112
22      75
23      68
24     124
25     138
26      56
27       1
28      88
29     113
30      63
31      42
32      65
33     104
34     105
35       0
36      95
37     119
38      86
39     124
      ...
80     127
81     139
82     110
83      65
84     127
85     108
86      33
87      91
88     134
89      65
90     110
91     144
92      40
93       3
94       3
95      59
96      97
97      64
98     126
99      94
100     20
101    107
102     59
103    146
104     83
105     59
106     25
107      0
108     78
109     93
Name: Python, Length: 100, dtype: int16

In [4]:
# 索引操作
s[0]

KeyError: 0

In [5]:
s[10]

34

In [6]:
s[[10,20]]

10    34
20    32
Name: Python, dtype: int16

In [7]:
# 切片操作
s[10:20]

20     32
21    112
22     75
23     68
24    124
25    138
26     56
27      1
28     88
29    113
Name: Python, dtype: int16

In [8]:
s[::2]

10      34
12     113
14     147
16      11
18      38
20      32
22      75
24     124
26      56
28      88
30      63
32      65
34     105
36      95
38      86
40       6
42      57
44      72
46      43
48      87
50      83
52      99
54     132
56      17
58     116
60      33
62      51
64      80
66     121
68      81
70       0
72      50
74      31
76     114
78      60
80     127
82     110
84     127
86      33
88     134
90     110
92      40
94       3
96      97
98     126
100     20
102     59
104     83
106     25
108     78
Name: Python, dtype: int16

In [9]:
s[::-2]

109     93
107      0
105     59
103    146
101    107
99      94
97      64
95      59
93       3
91     144
89      65
87      91
85     108
83      65
81     139
79      14
77      96
75      76
73      29
71      68
69       4
67      57
65      58
63     106
61      42
59     135
57      56
55      12
53     135
51      74
49     129
47     110
45       1
43      90
41     120
39     124
37     119
35       0
33     104
31      42
29     113
27       1
25     138
23      68
21     112
19      17
17     130
15      63
13     103
11     111
Name: Python, dtype: int16

In [10]:
# 可以使用pandas为开发者提供方法，去进行检索
s.loc[10]

34

In [11]:
s.loc[[10,20]]

10    34
20    32
Name: Python, dtype: int16

In [12]:
s.loc[10:20]

10     34
11    111
12    113
13    103
14    147
15     63
16     11
17    130
18     38
19     17
20     32
Name: Python, dtype: int16

In [13]:
s.loc[::2]

10      34
12     113
14     147
16      11
18      38
20      32
22      75
24     124
26      56
28      88
30      63
32      65
34     105
36      95
38      86
40       6
42      57
44      72
46      43
48      87
50      83
52      99
54     132
56      17
58     116
60      33
62      51
64      80
66     121
68      81
70       0
72      50
74      31
76     114
78      60
80     127
82     110
84     127
86      33
88     134
90     110
92      40
94       3
96      97
98     126
100     20
102     59
104     83
106     25
108     78
Name: Python, dtype: int16

In [14]:
s.loc[::-2]

109     93
107      0
105     59
103    146
101    107
99      94
97      64
95      59
93       3
91     144
89      65
87      91
85     108
83      65
81     139
79      14
77      96
75      76
73      29
71      68
69       4
67      57
65      58
63     106
61      42
59     135
57      56
55      12
53     135
51      74
49     129
47     110
45       1
43      90
41     120
39     124
37     119
35       0
33     104
31      42
29     113
27       1
25     138
23      68
21     112
19      17
17     130
15      63
13     103
11     111
Name: Python, dtype: int16

In [16]:
s.index

Int64Index([ 10,  11,  12,  13,  14,  15,  16,  17,  18,  19,  20,  21,  22,
             23,  24,  25,  26,  27,  28,  29,  30,  31,  32,  33,  34,  35,
             36,  37,  38,  39,  40,  41,  42,  43,  44,  45,  46,  47,  48,
             49,  50,  51,  52,  53,  54,  55,  56,  57,  58,  59,  60,  61,
             62,  63,  64,  65,  66,  67,  68,  69,  70,  71,  72,  73,  74,
             75,  76,  77,  78,  79,  80,  81,  82,  83,  84,  85,  86,  87,
             88,  89,  90,  91,  92,  93,  94,  95,  96,  97,  98,  99, 100,
            101, 102, 103, 104, 105, 106, 107, 108, 109],
           dtype='int64')

In [15]:
# iloc 索引从0开始，数字化自然索引
s.iloc[0]

34

In [17]:
s.iloc[[0,10]]

10    34
20    32
Name: Python, dtype: int16

In [18]:
s.iloc[0:20]

10     34
11    111
12    113
13    103
14    147
15     63
16     11
17    130
18     38
19     17
20     32
21    112
22     75
23     68
24    124
25    138
26     56
27      1
28     88
29    113
Name: Python, dtype: int16

In [20]:
s.iloc[::-2]

109     93
107      0
105     59
103    146
101    107
99      94
97      64
95      59
93       3
91     144
89      65
87      91
85     108
83      65
81     139
79      14
77      96
75      76
73      29
71      68
69       4
67      57
65      58
63     106
61      42
59     135
57      56
55      12
53     135
51      74
49     129
47     110
45       1
43      90
41     120
39     124
37     119
35       0
33     104
31      42
29     113
27       1
25     138
23      68
21     112
19      17
17     130
15      63
13     103
11     111
Name: Python, dtype: int16

In [21]:
# DataFrame是二维，索引大同小异，
df = DataFrame(data = np.random.randint(0,150,size= (10,3)),index=list('ABCDEFHIJK'),columns=['Python','En','Math'])

df

   Python   En  Math
A     103   56    98
B     135   65   135
C      13   79   146
D      47   24   145
E      89   97    16
F      64   26   109
H      48   46   111
I      16   49    97
J     122  126   100
K      60  136    62

In [22]:
df['A']

KeyError: 'A'

In [23]:
df['Python']

A    103
B    135
C     13
D     47
E     89
F     64
H     48
I     16
J    122
K     60
Name: Python, dtype: int32

In [24]:
df[['Python','En']]

   Python   En
A     103   56
B     135   65
C      13   79
D      47   24
E      89   97
F      64   26
H      48   46
I      16   49
J     122  126
K      60  136

In [25]:
df['Python':'Math']

Empty DataFrame
Columns: [Python, En, Math]
Index: []

In [26]:
df['A':'D']

   Python  En  Math
A     103  56    98
B     135  65   135
C      13  79   146
D      47  24   145

In [27]:
df.loc['Python']

KeyError: 'Python'

In [28]:
df.loc['A']

Python    103
En         56
Math       98
Name: A, dtype: int32

In [29]:
df.loc[['A','H']]

   Python  En  Math
A     103  56    98
H      48  46   111

In [30]:
df.loc['A':'E']

   Python  En  Math
A     103  56    98
B     135  65   135
C      13  79   146
D      47  24   145
E      89  97    16

In [31]:
df.loc[::2]

   Python   En  Math
A     103   56    98
C      13   79   146
E      89   97    16
H      48   46   111
J     122  126   100

In [32]:
df.loc[::-2]

   Python   En  Math
K      60  136    62
I      16   49    97
F      64   26   109
D      47   24   145
B     135   65   135

In [33]:
df.iloc['A']

TypeError: Cannot index by location index with a non-integer key

In [34]:
df.iloc[0]

Python    103
En         56
Math       98
Name: A, dtype: int32

In [35]:
df.iloc[[0,5]]

   Python  En  Math
A     103  56    98
F      64  26   109

In [36]:
df.iloc[0:5]

   Python  En  Math
A     103  56    98
B     135  65   135
C      13  79   146
D      47  24   145
E      89  97    16

In [38]:
df.iloc[::-2]

   Python   En  Math
K      60  136    62
I      16   49    97
F      64   26   109
D      47   24   145
B     135   65   135

In [39]:
df

   Python   En  Math
A     103   56    98
B     135   65   135
C      13   79   146
D      47   24   145
E      89   97    16
F      64   26   109
H      48   46   111
I      16   49    97
J     122  126   100
K      60  136    62

In [40]:
df.iloc[::2,1:]

    En  Math
A   56    98
C   79   146
E   97    16
H   46   111
J  126   100