In [1]:
import numpy as np

import pandas as pd
# 数据分析BI-------->人工智能AI
# 数据分析和数据挖掘一个意思，
# 工具和软件：Excel 免费版
# SPSS（一人一年10000）、SAS（一人一年5000）、Matlab 收费
# R、Python（全方位语言，流行） 免费
# Python + numpy + scipy + pandas + matplotlib + seaborn + pyEcharts + sklearn + kereas（Tensorflow）+…… 
# 代码，自动化（数据输入----输出结果）
from pandas import Series,DataFrame

In [2]:
# 多层索引，行列
# 单层索引
s = Series(np.random.randint(0,150,size = 6),index=list('abcdef'))
s

a     63
b    107
c     16
d     35
e    140
f     83
dtype: int32

In [3]:
# 多层索引，两层，三层以上（规则一样）
s2 = Series(np.random.randint(0,150,size = 6),index = pd.MultiIndex.from_product([['张三','李四','王五'],['期中','期末']]))
s2

张三  期中    114
    期末    131
李四  期中      3
    期末     63
王五  期中    107
    期末     34
dtype: int32

In [4]:
df = DataFrame(np.random.randint(0,150,size = (6,3)),columns=['Python','En','Math'],index =pd.MultiIndex.from_product([['张三','李四','王五'],['期中','期末']]) )

df

       Python   En  Math
张三 期中      73    5    25
   期末      37   36    56
李四 期中     149   81   142
   期末      71  138     0
王五 期中      11   94   103
   期末      25  121    83

In [5]:
# 三层索引
df3 = DataFrame(np.random.randint(0,150,size = (12,3)),columns=['Python','En','Math'],index =pd.MultiIndex.from_product([['张三','李四','王五'],['期中','期末'],['A','B']]) )

df3

         Python   En  Math
张三 期中 A      15   31    17
      B      82   56   123
   期末 A      14    2    78
      B      69   50    17
李四 期中 A      91   87   143
      B     120  118    39
   期末 A      56   76    55
      B      11  105   121
王五 期中 A     147   78     1
      B     128  126   146
   期末 A      49   45   114
      B     121   26    77

In [9]:
# 先获取列后获取行
df['Python']['张三']['期中']

73

In [14]:
df2 = df.copy()

In [16]:
df2.sort_index()

       Python   En  Math
张三 期中      73    5    25
   期末      37   36    56
李四 期中     149   81   142
   期末      71  138     0
王五 期中      11   94   103
   期末      25  121    83

In [22]:
# 先获取行，后获取列
df.loc['张三'].loc['期中']['Python']

73

In [19]:
df.iloc[[0,1]]

       Python  En  Math
张三 期中      73   5    25
   期末      37  36    56